<div class="row">
    <div class="col-lg-6 offset-lg-3 mt-5">
        <h2 class='text-center font-title'>Enter your budget</h2>
        <div class="card mt-5">
            <div class="card-body">
                <div *ngIf = "quantityError" class="text-center mb-3">
                    <span class="font-title text-error badge bg-danger"> EL PRESUPUESTO DEBE SER MAYOR A 0</span>
                </div>
                <input type="number" [(ngModel)]="quantity" class="form-control form-control-lg mt-3" placeholder="Budget">
                <button (click)="reviewQuantity()"  class="btn btn-secondary btn-lg btn-block mt-5">Enter</button>
            </div>
        </div>
    </div>
</div>